
@media all and (max-width: 1400px) { 

}

@media all and (max-width: 960px) { 
    .aiItem {
        width: 100%;
        height: auto;
        min-height: auto;
    }
    
    
    .card-img-top-square {
        width: 100%;
    }
    
    .blogMainItem .card-img-top-square {
        display: none;
    }
}

@media all and (max-width: 500px) { 
    .aiItemImage {
        width: 150px;
    }
    
    .crumbs{
        background: #2D3236;
    }
}

@media screen and (min-width: 3000px) {
    .rightside {
        width: 60%;
    }
}